* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* MENU */
a {
  text-decoration: none;
  color: #000000;
}
body {
  font-family: arial;
  background-color: #a9a9a9;
}

ul {
  list-style: none;
}
#menu {
  width: 40px;
  padding: 0%;
}

#logo {
  position: relative;
  width: 75%;
  left: 10%;
  top: 60%;
}

input[type="checkbox"] {
  display: none;
}

nav {
  background-color: #1c1c1c;
  width: 350px;
  left: -350px;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}
input[type="checkbox"]:checked ~ nav {
  transform: translateX(350px);
}

ul {
  left: 4%;
  top: 70px;
  position: absolute;
  width: 100%;
}

a {
  display: block;
  padding: 20px 5px;
  color: #d3d3d3;
}
a:hover {
  background-color: #a52a2a;
  color: #f5fffa;
  transition: all 0.7s;
  width: 90%;
}
label {
  padding: 15px;
  position: absolute;
  z-index: 1;
}

/* FORMULARIO DE LOGIN */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body.container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

main.container {
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  max-width: 350px;
  min-height: 45vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

main h2 {
  font-weight: 600;
  margin-bottom: 2rem;
  position: relative;
}
form.login {
  display: flex;
  flex-direction: column;
}

.input-field {
  position: relative;
}

form .input-field:first-child {
  margin-bottom: 1.5rem;
}

.input-field .underline::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 2);
}

.input-field .underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(to left, #ff0000, #ffb6c1);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.input-field input {
  outline: none;
  font-size: 0.9rem;
  color: #000000;
}

.input-field input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
  margin-top: 2rem;
  padding: 0.4rem;
  background: linear-gradient(to left, #dcdcdc, #1c1c1c);
  cursor: pointer;
  color: white;
  font-size: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}
form input[type="submit"]:focus {
  margin-top: 2rem;
  padding: 0.4rem;
  background: linear-gradient(to left, #ff0000, #ffb6c1);
  cursor: pointer;
  color: white;
  font-size: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.topo {
  background-color: #a52a2a;
  width: 100%;
  height: 18%;
  position: absolute;
}
.pesquisa {
  margin-top: 2.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.pesquisa input {
  width: 30vw;
  height: 2.5vw;
  border-style: none;
  border-radius: 10px;
  border-color: blanchedalmond;
}
