    <script src="./js/vendas.js"></script>
    <script src="./plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="./front-end/plugins/fontawesome/js/all.min.js"></script>
</body>
</html>