<!-- Menu Lateral -->
<input type="checkbox" id="chec">
<label for="chec" class="control-menu">
    <img src="/images/controle.png" >
</label>

  <nav class="menu-lateral">

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/cadastro/vendas">VENDAS</a></li>
      <li><a href="/cadastro/funcionario">CADASTROS</a></li>
      <li><a href="/cadastro/funcionario">RELATÓRIOS</a></li>
    </ul>

    <img src="/images/brand.png" id="logo">
  </nav>