<!-- Menu Lateral -->
<input type="checkbox" id="chec">
<label for="chec" class="control-menu">
    <img src="/images/controle.png" >
</label>

  <nav class="menu-lateral">

    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="/vendas">VENDAS</a></li>
      <li><a href="/cadastro/funcionario">CADASTROS</a></li>
      <li><a href="/relatorio/cliente">RELATÓRIOS</a></li>
      <li><a href="/">PRODUTOS</a></li>
      <li><a href="/">DASHBOARD</a></li>
    </ul>

  </nav>