<!-- Menu Lateral -->
<input type="checkbox" id="chec">
<label for="chec" class="control-menu">
    <img src="/images/controle.png" >
</label>

  <nav class="menu-lateral">

    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="/login">LOGIN</a></li>
      <li><a href="">VENDAS</a></li>
      <li><a href="views/cadastroProduto.html">CADASTROS</a></li>
      <li><a href="views/relatorioVendas.html">RELATÓRIOS</a></li>
    </ul>

    <img src="/images/brand.png" id="logo">
  </nav>