<section class="container-fluid topo">
    <div class="col-xs-0 col-sm-3 brand">
      <img src="/images/brand.png">
    </div>
    
      <div class="col pesquisa">
        <form id="serch" action="/vendas" style="width: 100%;" method="GET">
          <input class="input-pesquisa"  name="produto" name="text"  placeholder=" Buscar Produto..." autofocus="">
          <button hidden type="submit" value="serch">SERCH</button>
        </form>
      </div>
    
    
    <a href="/user" class="col-3 usuario">
        <span id="icon"><i  class="far fa-user-circle"></i></span>
        <% if(user){
            let firstName = user.nome.split(' ')[0];
        %>
          <div id="welcome">Olá <%= firstName %> </div>
        <% }else{ %>
        <div id="welcome">Olá Vendedor(a) </div>
        <% } %>
    </a>
</section>

