<section class="container-fluid topo">
    <div class="col-xs-0 col-sm-3 brand">
      <img src="/images/brand.png">
    </div>
    <div class="col pesquisa">
      <input name="cadastro" name="text" id="cursor" placeholder=" Buscar Produto..." autofocus="">
    </div>
    <!-- Necessário alterar href quando outra view -->
    <a href="/user" class="col-3 usuario">
        <span id="icon"><i  class="far fa-user-circle"></i></span>
        <% if(user){
            console.log(user);
            let firstName = user.nome.split(' ')[0];
        %>
          <div id="welcome">Olá <%= firstName %> </div>
        <% }else{ %>
        <div id="welcome">Olá Vendedor(a) </div>
        <% } %>
    </a>
  </section>
