<%- include('./includes/head') %>
<%- include('./includes/menu') %>
<%- include('./includes/nav') %>

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-3 mt-4">
        <h2 class="text-center display-1">ERROR 401</h2>
        <p class="text-center">Parece que essa área requer um cartão de Acesso <span class='text-verde'>VERDE</span> para acessar</p>
        <img src="./images/Keycard_green.png" />
      </div>
    </div>
  </div>

<%- include('./includes/footer') %>