<%- include('./includes/head') %>
<%- include('./includes/menu') %>
<%- include('./includes/nav') %>

<div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-4 mt-4">
        <h2 class="text-center display-1">ERROR 404</h2>
        <div class="col  text-center">
          <img class="img-fluid" src="/images/gameover.png" alt="GAME LOSE"/>
        </div>
        <div class="row justify-content-center">
          <p class="text-center"> Continue?</p>
          <div class="text-center yes-no">
            <span>
              <a href="/" class="seta"> YES </a> 
            </span>
            <span>
              <a href="#" class="seta"> NO </a>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </div>

<%- include('./includes/footer') %>