<%- include('./includes/head') %>
<%- include('./includes/menu') %>
<%- include('./includes/nav') %>

<main class="grid-parent">
    <div class="grid-item nav-grid">
        <ul class="nav flex-column nav-pills">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Venda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Categoria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Vendedores</a>
            </li>
          </ul>
    </div>
    <div class="values-grid">
        <div class="box">
            <div class="box-header">
                CLIENTES
            </div>
            <div class="box-content">
                20 
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                Mais vendido
            </div>
            <div class="box-content">
                Assasins Creed Valhalla
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                TOTAL
            </div>
            <div class="box-content">
                R$ 2.000,00 
            </div>
        </div>
    </div>
    <div class="grid-item chart-grid">
        <div class="container-chart">
            <canvas id='chart-venda'></canvas>
        </div>
    </div>

</main>
<script src="/plugins/chart.js-3.6.0/package/dist/chart.js"></script>
<script>
    const canvas = document.querySelector('#chart-venda').getContext('2d');

    const chart = new Chart(canvas, {
        type: 'line',
        data:{
            labels: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun','Jul','Ago', 'Set', 'Out', 'Nov', 'Dez'],
            datasets:[{
                label:'Vendas 2021',
                data: [5, 10, 15, 4, 6, 8, 14, 18, 12, 7,10,12],
                borderWidth: 6,
                borderColor: 'rgba(77,166,253, 0.85)',
                backgroundColor: 'transparent',
                tension: 0.4
            },
            {
                label:'Vendas 2020',
                data: [6, 8, 10, 5, 2, 6, 10, 20, 11, 5, 4,7],
                borderWidth: 6,
                borderColor: 'rgba(230, 153, 52, 0.85)',
                backgroundColor: 'transparent',
                tension: 0.4
            }],

        },
        options:{
            animation:{
                duration : 1000,
                easing: 'easeOutQuad'
            },
            plugins:{
                legend:{
                    position: 'bottom'
                },
                title:{
                    display: true,
                    text:'Comparação de Vendas por mês',
                    font:{
                        size: 14
                    }
                }
            }
        }
    });
</script>
<%- include('./includes/footer') %> 