<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.rtl.min.css">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login</title>
</head>
<body>
  <div class="parent">
    <div class="login-form">
        <h2>Login</h2>
        <%- include('./includes/message') %>
        <form action="/login/login" class="login" method="POST">
            <div class="input-field">
                <input type="email" name="email" id="username"
                placeholder="Informe seu Email" >
                <div class="underline"></div>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password"
                placeholder="Informe sua senha">
                <div class="underline"></div>
            </div>

            <input type="submit" value="Entrar">
        </form>
    </div>
  </div>
<%- include('./includes/footer') %>