/* MENU */

.control-carrinho {
  padding: 5px;
  position: absolute;
  z-index: 2;
}

.control-carrinho img {
  position: absolute;
  margin-top: 45px;
  width: 40px;
  padding: 0%;
  left: 1220px;
}
#checs {
  display: none;
}

.carrinho-lateral {
  z-index: 1;
  background-color: #696969;
  width: 300px;
  left: -300px;
  position: absolute;
}
#checs:checked ~ nav {
  z-index: 1;
  top: 150px;
  background-color: #696969;
  width: 380px;
  left: 905px;
  height: 60%;
  position: absolute;
}
.btnCarrinho {
  list-style: none;
  left: 4%;
  top: 88%;
  position: absolute;
  width: 100%;
}
.btnCarrinho input {
  width: 90%;
  height: 30px;
  border-radius: 8%;
}

.btnLimpar {
  background-color: #a52a2a;
  color: #f5fffa;
  cursor: pointer;
}

.totalCompras {
  font-size: 13pt;
  color: #f5fffa;
  list-style: none;
  left: 5%;
  top: 78%;
  position: absolute;
}

.info {
  font-size: 14pt;
  color: #f5fffa;
  list-style: none;
  left: 5%;
  top: 10%;
  position: absolute;
}

.fieldset {
  position: absolute;
  margin-top: 25%;
  width: 370px;
  height: 50%;
  overflow: auto;
  border-style: none;
}
.produtosCarrinho {
  position: relative;
  width: 90%;
  font-size: 14pt;
  border-radius: 5%;
  padding-top: 1%;
  color: #f5fffa;
  left: 5%;
  top: 0%;
  position: absolute;
  color: #000000;
}

.colorList {
  background-color: #d3d3d3;
  cursor: pointer;
}
.colorList:hover {
  background-color: #a52a2a;
}
