@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
/*@import 'menu.css';*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: arial;
    height: 100%;
    background-color: #c9c9c9;
}

.parent {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.erro-text{
    margin-bottom: 20px;
    padding:5px;
    background-color: #ffb6c1;
    color:red;
}

.login-form {
    display: flex;
    width: 100%;
    max-width: 300px;
    flex-direction: column;
    min-height: 45vh;
    background-color: white;
    padding: 2rem;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.login-form h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
}

.input-field {
    position: relative;
}

form .input-field:first-child {
    margin-bottom: 1.5rem;
}

.input-field .underline::before {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 2);
}

.input-field .underline::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to left, #ff0000, #ffb6c1);
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
    transform-origin: left;
}

.input-field input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field input {
    border:none;
    outline: none;
    font-size: 0.9rem;
    color: #000000;
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

form input[type="submit"] {
    width: 100%;
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #dcdcdc, #1c1c1c);
    cursor: pointer;
    color: white;
    font-size: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}

form input[type="submit"]:focus {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #ff0000, #ffb6c1);
    cursor: pointer;
    color: white;
    font-size: 300;
    border-radius: 4px;
    transition: all 0.3s ease;
}