@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import 'menu.css';

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}

body {
  font-family: arial;
  background-color: #a9a9a9;
}

.topo {
  display: flex;
  background-color: #a52a2a;
  width: 100%;
  height: 18%;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brand img{
  width:100px;
}

.pesquisa{
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pesquisa input {
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  border-color: blanchedalmond;
}
.usuario{
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#icon{
  font-size: 35px;
}

.usuario:hover {
  color: white;
}

@media screen and (max-width: 576px){
  .brand img{
    width: 0px;
  }
  .pesquisa{
    padding-top: 10%;
  }
  .usuario{
    text-align: center;
  }
  .control-menu img {
    margin-top: 7px;
    width: 40px;
    padding: 0%;
  }
}
