@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import "menu.css";
@import "404.css";
@import "cadas.css";
@import "carrinho.css";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}

body {
  font-family: arial;
  background-color: #a9a9a9;
}

.text-verde {
  color: green;
}

.topo {
  display: flex;
  background-color: #a52a2a;
  width: 100%;
  height: 18%;
}

.brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.brand img {
  width: 100px;
}

.left-parent{
  margin-right:0%
}

.selected{
  background-color: #a52a2a;
}


.pesquisa {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.pesquisa  input {
  width: 100%;
  height: 40px;
  border-style: none;
  border-radius: 10px;
  border-color: blanchedalmond;
} 
.usuario {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#icon {
  font-size: 35px;
}

#icon-cart {
  font-size: 15px;
}

.usuario:hover {
  color: white;
}

.table-venda{
  border-collapse: collapse; 
}

.thead-fixo{
  position: sticky; 
  top: 0; 
  z-index: 1;
}

.rightcontainer{
  width: 100%;
}

@media screen and (max-width: 576px) {
  .brand img {
    width: 0px;
  }
  .pesquisa {
    padding-top: 10%;
  }
  .usuario {
    text-align: center;
  }
  .control-menu img {
    margin-top: 7px;
    width: 40px;
    padding: 0%;
  }
}

#orderby{
  display: inline; /* the default for span */
  
  border: 2px solid #000;
  margin: 15px;
  
}