<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/carrinho.css">
  <title>Carrinho de Compras</title>
</head>

<body>

  <!-- Carrinho de Compras-->
  <div class="test">
  <input type="checkbox" id="chec">
  <label for="chec" class="control-menu">
    <img src="../images/carrinho-de-compras.png">
  </label>

  <nav class="menu-lateral">
  <div class="info">
    CARRINHO
  </div>
  <fieldset class="fieldset">
  <div class="produtosCarrinho">
    <p id="colorList">Way Out - Xbox 2x R$ 360</p>
    <p id="colorList">Assassins. PS4 1x R$ 500</p>
    <p id="colorList">X-Box One 1x      R$ 3.500</p>
    <p id="colorList">X-Box One 1x      R$ 3.500</p>
    <p id="colorList">X-Box One 1x      R$ 3.500</p>
    <p id="colorList">X-Box One 1x      R$ 3.500</p>
    <p id="colorList">X-Box One 1x      R$ 3.500</p>

  </div>
</fieldset>
    <div class="totalCompras">
    TOTAL: R$ 4.360,00
    </div>
    <div class="btnCarrinho">
      <input class="btnCancelar" type="submit" value=" X Cancelar">
      <img id="carrinhoBtn" src="../images/carrinhoBtn.png">
      <input class="btnProsseguir" type="submit" value=" Prosseguir" >
    </div>
  </nav>
</div>

</body>

</html>